<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style=" margin:0 auto;max-width:1500px; min-width:1000px">
    <header>
        <nav class="navbar navbar-default" style="min-width:1000px; margin:0 auto;">
            <div class="container-fluid" style="min-width:1000px;">
                <ul class="nav navbar-nav" style="min-width:1000px;">
                    <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                    <li>@Html.ActionLink("Історія бібліотеки", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                    <li>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "navbar-right" }))
                        {
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-lg", placeholder = "Поиск...", type = "text" })
                        }
                    </li>

                </ul>

            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
