@model Library_CourseWorkDB.Models.Request

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.ID);
    @Html.HiddenFor(m => m.ReadingCardID);
    @Html.HiddenFor(m => m.InventNumberID);
    @Html.HiddenFor(m => m.RequestTypeID);
    
    if (Model.RequestType.Name == "take")
     {
         <select name="selectedDuration" style="float: left; width: 75px; height: 28px;">
             <option value="1">1m.</option>
             <option value="2">2m.</option>
             <option value="3">3m.</option>
             <option value="4">4m.</option>
             <option value="5">5m.</option>
             <option value="6">6m.</option>
         </select>
     }
    <input type="submit" value="Підтвердити" style="float: left; margin: 0px 5px 5px 5px"/>
    
}