@using System.Drawing
@model IEnumerable<Library_CourseWorkDB.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Активні запити</h2>


@if (Model==null || !Model.Any())
{
    <text>Пусто</text>
}
else
{
    <table style="border-spacing: 10px 1px; border-collapse: separate">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookCopy.Book.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadingCard.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCopy.InventaryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        String shortName = item.BookCopy.Book.GetShortName();
            <text>@shortName</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReadingCard.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCopy.InventaryNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestType.Name)
                </td>
                <td>
                    @{ Html.RenderAction("Confirm", "Request", new {id = item.ID}); }|
                    @Html.ActionLink("Details", "Details", new {id = item.ID}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.ID})
                </td>
            </tr>
        }
    </table>
}
