@using System.Drawing
@model IEnumerable<Library_CourseWorkDB.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Активні запити</h2>


@if (Model==null || !Model.Any())
{
    <text>Пусто</text>
}
else
{
    <table style="border-spacing: 10px 1px; border-collapse: separate">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookCopy.Book.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadingCard.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCopy.InventaryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestType)
            </th>
            <th style="width: 300px"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        String shortName = item.BookCopy.Book.GetShortName();
            <text>@shortName</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReadingCard.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCopy.InventaryNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestType.Name)
                </td>
                <td>
                    @{ Html.RenderAction("Confirm", "Request", new {id = item.ID}); }
                    @using (Html.BeginForm("Delete", "Request", FormMethod.Post))
                    {
                        @Html.Hidden("id", item.ID)
                        <input type="submit" value="Видалити">
                        @*Html.ActionLink("Видалити", "Delete", new {id = item.ID}, new {@class = "btn btn-default", style = "horiz-align: right; float: left; height: 29px"})*@
                    }
                    
                </td>
            </tr>
        }
    </table>
}
