@model Library_CourseWorkDB.Models.Main
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .book {
        margin: 1%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        min-width: 450px;
        width: 76%;
        height: 50%;
        float: left;
        background-color: #F8F8F8;
        border-radius: 10px;
        padding: 30px;
        padding-bottom: 20px;
    }
</style>
<div style="margin: 0 auto">
   
    <div id="list-group" style="width:20%; float:left; margin:1%; margin-top:0.5%">
        <a class="list-group-item" style="height:60px">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "navbar" }))
            {
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Поиск...", type = "text" })
            }
        </a>
        <a href="@Url.Action("Index", "Home")" class="list-group-item"><h4>Все</h4></a>
        
        @foreach (var category in Model.CategoryList)
        {
            <a class="list-group-item" href="@Url.Action("Index", "Home", new { categoryCode = category.Code })">
                <h4>@category.Description</h4>
            </a>
        }
    </div>
    
@if (User.IsInRole("Librarian") || 1 == 1)//REMOVE 1==1 ADD STYLES
{
    <div style="width:20%; float:left; margin:1%; margin-top:0.5%">
        @Html.ActionLink("Добавить новую книгу", "Create", "Book", null, new { @class = "btn btn-default" })
    </div>
}
    
    @foreach (var item in Model.BookList)
    {
<div class="book">
        <div style="float:right">
            @Html.ActionLink("Просмотреть книгу", "Details", "Book", new { id = item.ID }, new { @class = "btn btn-success" })
            <div style="float:right; margin-left:4px">
            @Html.ActionLink(" ", "Edit", "Book", new { id = item.ID }, new { @class = "glyphicon glyphicon-pencil" })<br>
            @Html.ActionLink(" ", "Delete", "Book", new { id = item.ID }, new { @class = "glyphicon glyphicon-remove" })
            </div>
        </div>
        <div style="width: 70%; font-size: large">
            @Html.DisplayFor(x => item.Name)<br>
        </div>
        <div style="width: 70%">
            @if (item.AuthorsList != null)
            {
                foreach (var author in item.AuthorsList)
                {
                        <span>author</span><span>/</span>
                }
            }
        </div>
        <div style="width: 70%">
            Рік видання: @Html.DisplayFor(x => item.EditionYear) р.<br>
        </div>
        
</div>
    }
    </div>
