@model IEnumerable<Library_CourseWorkDB.Models.BookCopy>

<fieldset id="myContainer" style="width: 30%">
    <legend>Екземпляри @Html.ActionLink("+", "CreateCopy")</legend>

    <div class="col1">
        @Html.DisplayNameFor(model => model.InventaryNumber)
    </div>
    <div class="col2" style="width: 20%">
        @Html.DisplayNameFor(model => model.Status)
    </div>

    @foreach (var item in Model)
    {
        <div class="col1">
            @Html.DisplayFor(modelItem => item.InventaryNumber)
        </div>
        <div class="col2" style="width: 20%">
            @Html.DisplayFor(modelItem => item.Status.Name)
        </div>
        <div class="col2" style="width: 40%">
            @Html.ActionLink("Edit", "EditCopy", new { id = item.InventaryNumber }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.InventaryNumber }) |*@
            @Html.ActionLink("Delete", "DeleteCopy", new { id = item.InventaryNumber })
        </div>
    }
</fieldset>
