@model Library_CourseWorkDB.Models.Book

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="margin:0 auto; width:500px">
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="form-group" style="width:100%">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UDC)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.UDC.Code, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.UDC.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EditionYear)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.EditionYear, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EditionYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Publishing)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Publishing, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Publishing)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pages)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Pages, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Pages)
        </div>
        <p>
            <input type="submit" style="float:right" class="btn btn-primary" value="Create" />
        </p>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
