@model Library_CourseWorkDB.Models.Book

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/MyStyles.css" rel="stylesheet" />
<h2>Видалення книги</h2>

<h3>Ви впевнені що хочете видалити цю книгу?</h3>
<fieldset id="myContainer">
    <legend></legend>

    <div class="col1">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="col1">
         @Html.DisplayNameFor(model => model.UDC)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.UDC.Code).@Html.DisplayFor(model => model.UDC.Description)
    </div>

    <div class="col1">
         @Html.DisplayNameFor(model => model.EditionYear)
    </div>
    <div class="col2    ">
        @Html.DisplayFor(model => model.EditionYear)
    </div>

    <div class="col1">
         @Html.DisplayNameFor(model => model.Publishing)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.Publishing)
    </div>

    <div class="col1">
         @Html.DisplayNameFor(model => model.Pages)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.Pages)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Видалити" /> 
        @Html.ActionLink("До списку книг", "Index", "Home", new{@class = "btn btn-default"})
    </p>
}
