@model Library_CourseWorkDB.Models.Book

@{
    ViewBag.Title = "Книга";
}
<link href="~/Content/MyStyles.css" rel="stylesheet" />
<fieldset id="myContainer">
    <legend>Книга
        @Html.ActionLink(" ", "Edit", new { id = Model.ID}, new{ @class = "glyphicon glyphicon-pencil" })
        @Html.ActionLink(" ", "Delete", new { id = Model.ID}, new{ @class = "glyphicon glyphicon-remove" })
        @if (Model.BookCopies.Any(bc => bc.Status.Name == "available"))
        {
            Html.ActionLink("Взять домой", "Create", "Request", new {bookId = Model.ID, type = "take"}, null);
            <span>|</span>
            Html.ActionLink("Читать в зале", "Create", "Request", new {bookId = Model.ID, type = "read"}, null);
            <span>|</span>
        }
        else
        {
            <span>Немає доступних</span>
        }
    </legend>

    <div class="col1">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="col1">
        @Html.DisplayNameFor(model => model.UDC)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.UDC.Code)
    </div>

    <div class="col1">
        @Html.DisplayNameFor(model => model.EditionYear)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.EditionYear)
    </div>

    <div class="col1">
        @Html.DisplayNameFor(model => model.Publishing)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.Publishing)
    </div>

    <div class="col1">
        @Html.DisplayNameFor(model => model.Pages)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.Pages)
    </div>
</fieldset>

<fieldset id="myContainer" style="width: 30%">
    <legend>Екземпляри         
            <span id="partialDisplay">+</span>
        @{ Html.RenderAction("CreateCopy", "Book", new {id = Model.ID}); }
    </legend>

    @{ Html.RenderAction("CopyList", "Book"); }

</fieldset>


