@model Library_CourseWorkDB.Models.Book

@{
    ViewBag.Title = "Книга";
}
<link href="~/Content/MyStyles.css" rel="stylesheet" />
<h2>Сторінка книжки</h2>
<p>@Html.ActionLink("Back to List", "Index", "Home")</p>
<fieldset id="myContainer">
    <legend>Книга
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </legend>

    <div class="col1">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="col1">
        @Html.DisplayNameFor(model => model.UDC)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.UDC.Code)
    </div>

    <div class="col1">
        @Html.DisplayNameFor(model => model.EditionYear)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.EditionYear)
    </div>

    <div class="col1">
        @Html.DisplayNameFor(model => model.Publishing)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.Publishing)
    </div>

    <div class="col1">
        @Html.DisplayNameFor(model => model.Pages)
    </div>
    <div class="col2">
        @Html.DisplayFor(model => model.Pages)
    </div>
</fieldset>

@{ Html.RenderAction("CopyList", "Book"); }
