@model Library_CourseWorkDB.Models.Book

@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/MyStyles.css" rel="stylesheet" />

<h2>Редагування</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="margin:0 auto; width:500px">
        @Html.HiddenFor(m => m.UDCID)
        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UDC)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.UDC.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UDC.Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EditionYear)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.EditionYear, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EditionYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Publishing)
        </div>
        <div class="form-group">
            @Html.TextAreaFor(model => model.Publishing, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Publishing)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pages)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Pages, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Pages)
        </div>
        <div>
            @{
    Html.RenderPartial("AuthorListPartial", Model);
            }
        </div>
        <div>
            @{
    Html.RenderAction("AddAuthor");
            }
        </div>
        <p style="clear: both">
            <input type="submit" value="Зберегти" class="btn btn-primary" style="float:right" />
        </p>
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
