@model Library_CourseWorkDB.Models.Book

@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/MyStyles.css" rel="stylesheet" />

<h2>Редагування</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset id="myContainer" style="width: 600px">
        <legend>Книга</legend>

        @Html.HiddenFor(m => m.UDCID)
        @Html.HiddenFor(model => model.ID)

        <div class="col1">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="col2">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="col1">
            @Html.LabelFor(model => model.UDC)
        </div>
        <div class="col2">
            @Html.EditorFor(model => model.UDC.Code)
            @Html.ValidationMessageFor(model => model.UDC.Code)
        </div>

        <div class="col1">
            @Html.LabelFor(model => model.EditionYear)
        </div>
        <div class="col2">
            @Html.EditorFor(model => model.EditionYear)
            @Html.ValidationMessageFor(model => model.EditionYear)
        </div>

        <div class="col1">
            @Html.LabelFor(model => model.Publishing)
        </div>
        <div class="col2">
            @Html.TextAreaFor(model => model.Publishing)
            @Html.ValidationMessageFor(model => model.Publishing)
        </div>

        <div class="col1">
            @Html.LabelFor(model => model.Pages)
        </div>
        <div class="col2">
            @Html.EditorFor(model => model.Pages)
            @Html.ValidationMessageFor(model => model.Pages)
        </div>

        <p style="clear: both">
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

@{
    Html.RenderPartial("AuthorListPartial", Model);
}
@{
    Html.RenderAction("AddAuthor");
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
